{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <i class="fas fa-car-side fa-lg me-2"></i> Autopůjčovna
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-2">
                    <a class="nav-link {% if request.resolver_match.url_name == 'seznam_aut' %}active{% endif %}" href="{% url 'seznam_aut' %}">
                        <i class="fas fa-car-alt me-1"></i> Auta
                    </a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link {% if request.resolver_match.url_name == 'seznam_zakazniku' %}active{% endif %}" href="{% url 'seznam_zakazniku' %}">
                        <i class="fas fa-user-friends me-1"></i> Zákazníci
                    </a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link {% if request.resolver_match.url_name == 'seznam_pujcek' %}active{% endif %}" href="{% url 'seznam_pujcek' %}">
                        <i class="fas fa-handshake me-1"></i> Půjčky
                    </a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link {% if request.resolver_match.url_name == 'seznam_plateb' %}active{% endif %}" href="{% url 'seznam_plateb' %}">
                        <i class="fas fa-file-invoice-dollar me-1"></i> Platby
                    </a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link {% if request.resolver_match.url_name == 'seznam_servisu' %}active{% endif %}" href="{% url 'seznam_servisu' %}">
                        <i class="fas fa-wrench me-1"></i> Servisy
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> 